# Ignore build product.
caduceator
.ignore
errors.txt
*.exe
*.exe~
*.dll
*.so
*.dylib
.ignore/
coverage*
report.json

# Test binary, build with `go test -c`
*.test

bin/
pkg/
lib/
*.out
*.swp

# for VSCode
.vscode/

# for goland
.idea/
report.json

# for releases
.ignore/

# vendor package
vendor/

# docker-compose
deploy/docker-compose/
